<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>SupriWeb</title>
</head>

<body>
	<h1>Dados do Cliente</h1>
	<hr>
	<div>
		<form action="@{/clients}" th:object="${client}" method="post">
			<input id="active" type="hidden" th:field="*{id}" />
			<div>
				<label for="active">Registro Ativo</label>
				<input id="active" type="checkbox" th:field="*{active}">
			</div>
			<div>
				<label for="name">Nome</label>
				<input id="name" type="text" th:field="*{name}" />
			</div>
			<div>
				<label for="cpf">CPF</label>
				<input id="cpf" type="text" th:field="*{cpf}" />
			</div>
			<div>
				<label for="birthdate">Data de Nascimento</label>
				<input id="birthdate" type="date" th:field="*{birthDate}" />
			</div>
			<div>
				<label for="sex">Sexo</label>
					<select id="sex" th:field="*{sex}">
						<option>Selecione uma opção</option>
						<option value="MASCULINE">Masculino</option>
						<option value="FEMININE">Feminino</option>
					</section>
			</div>
			<div>
				<label for="telephone">Telefone</label>
				<input id="telephone" type="text" th:field="*{telephone}">
			</div>
			<div>
				<label for="cellphone">Telemóvel</label>
				<input id="cellphone" type="text" th:field"*{cellphone}" />
			</div>
			<div>
				<label for="email">E-mail</label>
				<input id="email" type="text" th:field="*{email}" />
			</div>
			<div>
				<input type="submit" value="Salvar" />
			</div>
		</form>
	</div>
</body>

</html>